@font-face {
    font-family: "formula";
    font-weight: 300;
    src: url(asset/fuentes/Formula1-Bold.otf);
}
@font-face {
    font-family: "formula1";
    font-weight: 300;
    src: url(asset/fuentes/Formula1-Regular.otf);
}
*{
    font-family: "formula1", sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    color: red;
    min-height: 10vh;
    border-bottom:solid red 3px;

}
header img{
    height: 50px;
    width: 200px;
    margin: 20px;
    padding: 5px;
}
main {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    color: RED;
    min-height: 80vh;
    margin: 10px;
}
main h1,h2{
    font-family: "formula";
}
main p{
    margin: 5px;
}
.titulo{
    width: 100%;
    border-bottom: solid red 1px;
}
.foto_general{
    width: 100%;
    border: solid red 3px;
    border-radius: 10px;
}
.escuderia{
    display: flex;
    width: auto;
    text-align: center;
    align-items: center;
    margin: 20px auto;
}
.pilotos{
    display: flex;
    gap: 30px;
    margin: 10px;
}
.pilotos img{
    transition: 300ms;
    border-radius: 5px;
}
.pilotos img:hover{
    transform: scale(1.1, 1.1);
}

.bandera{
    width: 51px;
    height: 35px;
    border: solid black 1px;
}
footer {
    background-color: black;
    color: red;
    min-height: 10vh;
    padding: 10px;
    border-top:solid red 3px;
}